{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>
    <P>if you try to change your email click here! <a href="{{ url_for('auth.change_email_request') }}">change email request</a></P>
    <P>if you try to change your password click here! <a href="{{ url_for('auth.change_password') }}">change password request</a></P>
    {% if current_user.is_anonymous %}<P>if you try to register click here! <a href="{{ url_for('auth.register') }}">register</a></P>{% endif %}

<div>
    {% if current_user.can(Permission.WRITE_ARTICLES) %}
    {{ wtf.quick_form(form) }}
    {% endif %}
</div>
{% include '_posts.html' %}
{% endblock %}

